h1 {
    font-size: 28px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 12px;
}

a {
    color: white;
}

    a:hover {
        color: white;
    }

/* Styling top bar */

.toDoBar {
    text-align: center;
    background-image: linear-gradient(to right, #F7AB00, #F19100);
    /* background-color: #F19100; */
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
    z-index: 1000;
}

.navLogo {
    float: left;
    margin: 2px 0 0 15px;
    color: white;
}

.addTaskDiv {
    width: 55%;
    margin-top: 2px;
    display: inline-block;
}

.addTaskForm {
    border: none;
}

#addToDoBTN {
    float: right;
    margin-top: 13px;
    margin-right: 1%;
    color: rgb(255, 217, 159);
}

    #addToDoBTN:hover {
        color: white;
    }

.toDoCount {
    margin: 9px 15px 0 0;
    float: right;
}

/* Styling page */

.container {
    padding: 20px 15%;
    margin-top: 70px;
}

.jumbotron {
    margin: 20px 0px;
    padding: 10px;
}

.form-control {
    display: inline-block;
    width: 90%;
}

.card {
    margin-bottom: 20px;
    background-image: linear-gradient(to right, #F7AB00, #F19100);
    border: none;
}

.card-body {
    padding-bottom: 0.25rem;
}

.toDoDesc {
    display: inline-block;
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 5px;
    width: 95%;
    padding: 10px;
    margin: 5px 0 20px 0;
}

.descriptionText {
    font-size: 14px;
    color: white;
}

.addDescriptionLink {
    margin-bottom: 50px;
}

.timestamp {
    position: absolute;
    top: 8px;
    left: 20px;
    font-size: 10px;
    color: white;
}

.fa-check {
    color: rgb(255, 221, 177);
}

    .fa-check:hover {
        color: green;
        cursor: pointer;
    }

    .todoCheck {
        position: absolute;
        right: 0.3%;
        bottom: 43%;
    }

    .subtaskCheck {
        position: absolute;
        right: 7.5%;
        margin-top: 0.5%
    }

        .subtaskCheck-checked {
            color: green;
        }

        .subtaskCheck-checked:hover {
            color: rgb(197, 197, 197);
        }

.editToDoForm {
    display: inline-block;
}

.toDoTitle {
    margin-bottom: 7px;
    padding-top: 10px;
    color: white;
}

.subtask {
    margin: 5px 0 5px 0;
    padding: 10px;
    color: rgb(229,84,15);
    background-color: white;
    border-radius: 3px;
    width: 95%;
}

    .subtask:hover {
        color: white;
        background-color: rgb(229,84,15);
    }

    .subtask-done {
        text-decoration: line-through;
        color: white;
        background-color: rgb(252, 211, 115);
    }

        .subtask-done:hover {
            color: white;
            background-color: rgb(252, 211, 115);
        }